.body{
    scroll-behavior: smooth;
}

.lista1{
    width: 4%;
    height: 100%;
    background-color:#F6E333;
    position:fixed ;
    right: 15%; 
    top: 0;
    z-index: -1;
}

.lista2{
    width: 4%;
    height: 100%;
    background-color:#468BF2;
    position:fixed ;
    right: 10%; 
    top: 0;
    z-index: -1;
}

.lista3{
    width: 4%;
    height: 100%;
    background-color:#F13030;
    position:fixed ;
    right: 5%; 
    top: 0;
    z-index: -1;
}

.conteudo{
    width: 80%;
    margin-top: 5%;
    font-size: 1.3em;
}

.card2{
    margin-top: 3%;
}

.destaque{
    color: #8C52FF;

}