.body{
    scroll-behavior: smooth;
}

header{
    margin-bottom: 13%;
}

.navbar{
    width: 100%;
    z-index: 1030;
    top: 0;
}

.lista1{
    width: 4%;
    height: 100%;
    background-color:#F6E333;
    position:fixed ;
    right: 15%; 
    top: 0;
    z-index: -1;
}

.lista2{
    width: 4%;
    height: 100%;
    background-color:#468BF2;
    position:fixed ;
    right: 10%; 
    top: 0;
    z-index: -1;
}

.lista3{
    width: 4%;
    height: 100%;
    background-color:#F13030;
    position:fixed ;
    right: 5%; 
    top: 0;
    z-index: -1;
}

.conteudo{
    position: absolute;
    width: 80%;
    font-size: 1.3em;
    padding-bottom: 3%;
}

.card2{
    margin-top: 3%;
}

.destaque{
    color: #8C52FF;

}
.card-titleteam{
    align-items: center;
    margin-left: 40%;
}

.card-text1{
    font-size: 1.7em;
    padding-left: 5px;
}